<% @title = "Edit \"#{@work.name}\"" %>
<h4 class='form-title'>Edit "<%= @work.name %>"</h4>

<div class='row well'>
  <div class='col-md-3'>
    <%= link_to image_tag(@work.thumbnail.url(:thumb), alt: @work.name), {action: :show} %>
  </div>

  <div class='col-md-9'>
    <%= form_for @work, :url => {action: :update}, :html => { :multipart => true, class: 'form-horizontal'} do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-md-5 well'>
    <div class='form-group'>
      <%= link_to button_tag('Manage Pictures', type: 'button', class: 'btn btn-info'), work_pictures_path(@work) %>
    </div>

    <% @pictures.each do |p| %>
      <div class='form-group'><%= image_tag p.file.url(:thumb), alt: 'Picture' %></div>
    <% end %>
  </div>

  <div class='col-md-5 col-md-offset-1 well'>
    <div class='form-group'>
      <%= link_to button_tag('Manage Process Pictures', type: 'button', class: 'btn btn-info'), work_process_pictures_path(@work) %>
    </div>

    <% @process_pictures.each do |p| %>
      <div class='form-group'><%= image_tag p.file.url(:thumb), alt: 'Picture' %></div>
    <% end %>
  </div>
</div>
