<h1>Edit Work: "<%= @work.name %>"</h1>
<table id="manage_works_table">
  <tr>
    <td><%= link_to image_tag(@work.thumbnail.url(:thumb), alt: @work.name), {action: :show} %></td>
    <td>
        <%= form_for @work, :url => {action: :update}, :html => { :multipart => true } do |f| %>
            <%= render partial: 'form', locals: {f: f} %>
        <% end %>
    </td>
  </tr>
  <tr>
    <td><%= link_to button_tag('Manage Pictures', type: 'button'), work_pictures_path(@work) %></td>
    <td></td>
  </tr>
  <% @pictures.each do |p| %>
    <tr>
      <td><%= image_tag p.file.url(:thumb), alt: 'Picture' %></td>
      <td></td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to button_tag('Manage Process Pictures', type: 'button'), work_process_pictures_path(@work) %></td>
    <td></td>
  </tr>
  <% @process_pictures.each do |p| %>
    <tr>
      <td><%= image_tag p.file.url(:thumb), alt: 'Picture' %></td>
      <td></td>
    </tr>
  <% end %>
</table>
