<% @title = @work.name %>
<div class="well">
  <div class='work-header'>
    <h4 id='work-name'><%= @work.name %></h4>
    <p id="work-description"><%= @work.description %></p>
    <div class=""><%= link_to 'Edit this work', edit_work_path, class: 'btn btn-primary' %></div>
  </div>
</div>

<div class='well'>
  <div class='row links'>
    <div class='col-xs-4 pull-right'>
      <%= render partial: 'process_links' %>
    </div>
  </div>

  <div id='pictures' class='row'>
    <% @pictures.each do |p| %>
      <%= image_tag p.file.url(:large), class: 'work-image', alt: "#{@work.name} ##{p.position} by Moyu Zhang" %>
    <% end %>
  </div>

  <div class='row links'>
    <div class='col-xs-4 pull-right'>
      <%= render partial: 'process_links' %>
    </div>
  </div>
</div>
