<% @title = "Delete Picture!" %>
<div class='col-md-4 col-md-offset-4 delete-work well'>
  <h4 class='form-title'>Delete "<%= @picture.file_file_name %>"?</h4>

  <%= image_tag @picture.file.url(:thumb) %>
  <%= form_for @picture, :url => {action: :destroy},  method: 'delete', html:{class: 'form delete-picture'} do |f| %>
    <div class='form-group'>
      <%= link_to 'Cancel', {action: :index}, class: 'btn btn-success' %>
      <%= f.submit "Delete", class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
