<% @title = "Delete Picture!" %>
<h1>DELETE PICTURE!</h1> 
<table>
  </tr>
    <td>
      <%= link_to (button_tag 'Cancel', type: 'button'), action: :index %>
    </td>
  </tr>
  <tr>
    <td><h1><%= @picture.file_file_name %></h1></td>
  </tr>
  <tr>
    <td><%= image_tag @picture.file.url(:thumb) %></td>
  </tr>
  </tr>
    <td>
      <%= form_for @picture, :url => {action: :destroy},  method: 'delete', html:{class: 'delete_picture'} do |f| %>
        <%= f.submit "DELETE #{@picture.file_file_name}!!!" %>
      <% end %>
    </td>
  </tr>
</table>
