<% @title = "Process Pictures for #{@work.name}" %>
<div class="content">
  <h1><%= @work.name %></h1>
  <p><%= @work.description %></p>
  <p><%= link_to button_tag("Edit \"#{@work.name}\"", type: 'button'), edit_work_path(@work) %>
     <%= link_to button_tag("Manage Finished Pictures", type: 'button'), controller: :pictures %>
  </p>

  <table id="manage_works_table">
  <tr>
    <td></td>
    <td>
      <%= form_for @picture, url: {action: :create}, html: {multipart: true} do |f| %>
        <table summary="Picture form table" class="picture_form_table">
          <tr>
            <td><%= label_tag 'Upload Process Pictures' %></td>
            <td><%= file_field_tag "files[]", type: :file, multiple: true %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= submit_tag 'Create Process Pictures' %></td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
  <% @pictures.each do |picture| %>
    <tr>
      <td><%= picture.file_file_name %>
          <%= link_to button_tag("Delete #{picture.file_file_name}", type: 'button'), delete_work_process_picture_path(id: picture.id) %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= image_tag picture.file.url(:thumb), alt: 'Picture' %></td> 
      <td>
        <%= form_for picture, url: {action: :update, id: picture.id}, html: {multipart: true} do |f| %>
          <%= render partial: 'pictures/form', locals: {f: f} %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
  <% end %>
  </table>
</div>

