<%= error_messages_for(@about) %>
<table summary="About form table" class="about_form_table">
  <tr>
    <td><%= f.label :position %></td><td><%= f.select :position, 1..@about_count %></td>
  </tr>
    <td><%= f.label :paragraph %></td>
    <td><%= f.text_area :paragraph, size: '40x5' %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table>
