<% @title = 'Contact Moyu Zhang' %>
<div class="">
    <div class='row'>
        <%= image_tag "contact.jpg", alt: "moyuzhang", id: 'contact-image'%>
    </div>
    <ul id="contact-list" class='list-inline row'>
        <li><a href="mailto:vivienmoyuzhang@gmail.com"><%= image_tag 'email_32.png' %></a></li>

        <li><a target="_blank" href="https://www.linkedin.com/pub/moyu-zhang/38/385/54a"><%= image_tag 'linkedin_32.png' %></a></li>

        <li><a target="_blank" href="https://www.facebook.com/moyu.zhang?fref=nf"><%= image_tag 'facebook_32.png' %></a></li>
        
        <li><a target="_blank" href="https://www.behance.net/MOYU"> <%= image_tag 'behance_32.png' %></a></li>

        <li><a target="_blank" href=" http://www.pinterest.com/cutecuterice/"><%= image_tag 'pinterest_32.png' %></a></li>

        <li><a target="_blank" href="http://instagram.com/moyu_zhang?ref=badge"><%= image_tag 'instagram_32.png' %></a></li>
    </ul>
</div>
