<% @title = @work.name %>
<div class="content">
    <h1><%= @work.name %></h1>
    <pre class="work-description"><%= @work.description %></pre>

    <%= render partial: 'social_buttons' %>

    <%= render partial: 'process_links' %>

    <% @pictures.each do |p| %>
      <%= image_tag p.file.url(:large), alt: "#{@work.name} ##{p.position} by Moyu Zhang" %>
    <% end %>

    <%= render partial: 'process_links' %>
    
    <%= render partial: 'social_buttons' %>
</div>
