<% @title = @work.name %>
<div class='work-header'>
  <h5 class='work-name' id="work-name"><%= @work.name %></h2>
  <p id="work-description"><%= @work.description %></p>
</div>

<div class='row links'>
  <div class='col-xs-8 pull-lefg'><%= render partial: 'social_buttons' %></div>
  <div class='col-xs-4 pull-right'><%= render partial: 'process_links' %></div>
</div>

<div id='pictures' class='row'>
  <% @pictures.each do |p| %>
    <%= image_tag p.file.url(:large), class: 'work-image', alt: "#{@work.name} ##{p.position} by Moyu Zhang" %>
  <% end %>
</div>

<div class='row'>
  <div class='col-xs-8'><%= render partial: 'social_buttons' %></div>
  <div class='col-xs-4'><%= render partial: 'process_links' %></div>
</div>
