<!DOCTYPE html>
<html>
<head>
  <% if @title %>
    <title>moyuzhang.com | <%= @title %></title>
  <% else %>
    <title>Welcome to moyuzhang.com</title>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
</head>
<body>
<% ####################### %>
<div class="header_img">
  <%= link_to image_tag("moyuzhang_seal.png", alt: "moyuzhang.com", id: "seal"), :root %>
  <%= link_to image_tag("moyuzhangblack.png", alt: "moyuzhang.com"), :root %>
</div>
<div class="navigator">
    <div class="navigator_row">
        <div class="navigator_cell"><%= link_to image_tag("about.png", alt: "about"), about_path %></div>
        <div class="navigator_cell"><%= link_to image_tag("work.png", alt: "work"), :root %></div>
        <div class="navigator_cell"><%= link_to image_tag("contact.png", alt: "contact"), contact_path %></div>
    </div>
</div>

<% ####################### %>


<%= yield %>

<% ####################### %>
<div class="content" id="copyright">
<%= image_tag "copyright.png", alt: "copyright" %>
</div>
<% ####################### %>
</body>
</html>
