<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% if @title %>
    <title><%= @title %> | moyuzhang.com</title>
  <% else %>
    <title>Welcome to moyuzhang.com</title>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="<%= @og_title %>">
  <meta property="og:type" content="<%= @og_type %>">
  <meta property="og:url" content="<%= @og_url %>">
  <meta property="og:image" content="<%= @og_image %>">
  <meta property="og:site_name" content="<%= @og_site_name %>">
  <meta property="og:description" content="<%= @og_description %>">
</head>
<body>
  <%# Facebook JavaScript SDK begin %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <%# Facebook JavaScript SDK end %>
  <%# Pinterest buttons start %>
  <!-- Please call pinit.js only once per page -->
  <script type="text/javascript" async defer  data-pin-color="red" data-pin-height="28" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
  <%# Pinterest buttons end %>

  <nav class='navbar navbar-default navbar-static-top navbar-inverse'>
    <div class='container'>
      <div class="navbar-brand">
        <%= image_tag("moyuzhang_seal.png", alt: "moyuzhang.com", id: "seal") %>
      </div>
      <a href='/' class='navbar-brand navbar-text'>Moyu Zhang</a>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "about", about_path %></li>
        <li><%= link_to "work", :root %></li>
        <li><%= link_to "contact", contact_path %></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="container" id="copyright">
      <p class='text-muted'>Design & copyright Moyu Zhang 2014. Photos by Moyu Zhang, unless otherwise specified</p>
    </div>
  </footer>
</body>
</html>
